<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd"
default-lazy-init="true">

	<!-- 引用properties文件 -->
	<context:property-placeholder location="classpath:config/properties/*.properties"/>
	
	<!-- scan the package and the sub package -->
    <context:component-scan base-package="com.cms,com.aop">  <!-- 加载除表现层之外的所有bean -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- test 注入 -->
	<bean id="point" class="com.cms.component.TestPoint">
		<property name="id" value="111"/>
		<property name="name" value="${jdbc.username}"/>
	</bean>
	
	<!-- test spring加载时就初始化  -->
	<bean id="pointSpring" class="com.cms.component.TestPoint" lazy-init="false">
		<property name="id" value="222"/>
		<property name="name" value="222name"/>
	</bean>
	
	<!-- 开启aspectj代理   ( Spring默认不支持@AspectJ风格的切面声明,需要开启)-->
    <aop:aspectj-autoproxy />
	
	<!-- test AOP xml配置 -->
	<bean id="TestAop" class="com.aop.TestAop"></bean>
	<aop:config>  
		<!-- 声明切入点<aop:pointcut> -->
		<aop:pointcut id="pointCut" expression="execution(* com.cms.component..*.*(..))"/><!--切入点  该包及子包下的任何方法执行 --> 
	    <aop:aspect ref="TestAop"><!-- <aop:aspect>定义切面,可以定义多个  -->
	    	<aop:pointcut id="pointCut1" expression="execution(* com.cms.component..*.*(..))"/><!--切入点  该包及子包下的任何方法执行 --> 
	        <aop:before pointcut-ref="pointCut1" method="before"/><!-- 引用切入点 -->  
	        <aop:after pointcut="execution(* com.cms.component..*.*(..))" method="after"/><!-- 直接使用pointcut属性  (匿名切入点)-->
	        <!-- 通知采用pointcut-ref和 pointcut均可,   <aop:pointcut>(切入点)也可以不定义 -->
	    </aop:aspect>  
	</aop:config>  
	
	<!-- druid 数据库连接池 -->  
  	<bean id = "dataSource" class = "com.alibaba.druid.pool.DruidDataSource" destroy-method = "close" >    
        <!-- 数据库基本信息配置 -->  
        <property name = "url" value = "${jdbc.url}" />    
        <property name = "username" value = "${jdbc.username}" />    
        <property name = "password" value = "${jdbc.password}" />    
        <property name = "driverClassName" value = "${jdbc.driverClassName}" />    
        <property name = "filters" value = "${jdbc.filters}" />    
        <!-- 最大并发连接数 -->  
        <property name = "maxActive" value = "${jdbc.maxActive}" />  
        <!-- 初始化连接数量 -->  
        <property name = "initialSize" value = "${jdbc.initialSize}" />  
        <!-- 配置获取连接等待超时的时间 -->  
        <property name = "maxWait" value = "${jdbc.maxWait}" />  
        <!-- 最小空闲连接数 -->  
        <property name = "minIdle" value = "${jdbc.minIdle}" />    
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->  
        <property name = "timeBetweenEvictionRunsMillis" value ="${jdbc.timeBetweenEvictionRunsMillis}" />  
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->  
        <property name = "minEvictableIdleTimeMillis" value ="${jdbc.minEvictableIdleTimeMillis}" />    
        <property name = "validationQuery" value = "${jdbc.validationQuery}" />    
        <property name = "testWhileIdle" value = "${jdbc.testWhileIdle}" />    
        <property name = "testOnBorrow" value = "${jdbc.testOnBorrow}" />    
        <property name = "testOnReturn" value = "${jdbc.testOnReturn}" />    
        <property name = "maxOpenPreparedStatements" value ="${jdbc.maxOpenPreparedStatements}" />  
        <!-- 打开 removeAbandoned 功能 -->  
        <property name = "removeAbandoned" value = "${jdbc.removeAbandoned}" />  
        <!-- 1800 秒，也就是 30 分钟 -->  
        <property name = "removeAbandonedTimeout" value ="${jdbc.removeAbandonedTimeout}" />  
        <!-- 关闭 abanded 连接时输出错误日志 -->     
        <property name = "logAbandoned" value = "${jdbc.logAbandoned}" />  
    </bean>  
	
	<!-- 创建工厂 bean -->
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource"/>
      <property name="configLocation" value="classpath:config/mybatis.xml"/>
      <property name="mapperLocations" value="classpath:config/mapper/*.xml"/>
    </bean>
   
    <!-- 将sqlSessionTemplate手工注入到SqlSessionDaoSupport中    已经通过注解注入-->
    <!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean> -->
	
	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- tx标签配置事务, 不用@Transactional注解 -->
    <!-- 启用事务 需要处理 rollback -->
	<!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="handle*" propagation="REQUIRED" />
			<tx:method name="cancel*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* com.cms.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config> -->
	<!-- end tx配置事务 -->
	
	<!-- 注解配置事务 需要在service实现类中加@Transactional注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- end 注解配置事务-->
	
	<context:annotation-config/>
	
	<!-- <bean id="applicationContextHelper" class="com.cms.utils.ApplicationContextHelper" lazy-init="false"></bean> 已经使用了@Lazy注解解决了此类无法实例化的问题-->


	<!-- 缓存管理器 Ehcache与spring整合    
			>>>加上<property name="shared" value="true"/>解决cacheManager重复创建的问题,
			       因为在mapper中配置了ehcache作为二级缓存时,已经通过CacheManager.create()创建创建一个名为"__DEFAULT__"的CacheManager,
			       继续创建同名的CacheManager会报错, 加上shared熟悉会引用已经创建的cacheManager,故可以解决该问题
			>>>或者加上 lazy-init="false",使此缓存管理器的初始化优先于mybatis中的二级缓存,由于mybhttps://www.baidu.com/s?rtt=1&bsst=1&cl=2&tn=news&word=%22cache%3Aannotation-driven%22%20%E7%9A%84%E5%89%8D%E7%BC%80%20%22cache%22%20%E6%9C%AA%E7%BB%91%E5%AE%9Aatis二级缓存创建的CacheManager是单例模式,所有直接用同名(__DEFAULT__)的CacheManager.
	-->
	<cache:annotation-driven cache-manager="cacheManager"/><!-- 启用缓存注解功能,否则注解不生效,并且要声明在spring主配置文件中 -->
	<bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" lazy-init="false">
		<property name="configLocation" value="classpath:config/ehcache.xml" />
	</bean>
	<!-- 上面的cacheManagerFactory可以单独作为缓存管理器, 加上下面的代码是与spring整和, 将缓存管理器交给spring管理 -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" lazy-init="false">
        <property name="cacheManager" ref="cacheManagerFactory"/>
    </bean>
	
	
	<!-- 国际化文件 -->
	<!-- org.springframework.context.support.ReloadableResourceBundleMessageSource 可以定时刷新资源文件(cacheSeconds,-1为永不刷新) -->
	<!-- org.springframework.context.support.ResourceBundleMessageSource -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		 <property name="cacheSeconds" value="60"/>
         <property name="basenames">
             <list>
                 <value>config/messages/messages</value>
            </list>
         </property>
     </bean>
	
	
	<import resource="spring-test.xml"/>
</beans>